* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-bottom: 1rem;
}
.navBar {
  padding: 1rem 2rem;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  align-items: center;
}

a {
  text-decoration: none;
  display: block;
  color: brown;
}

section {
  border: 1px solid black;
  padding: 1rem;
  width: 95%;
  margin: auto;
  margin-top: 1rem;
}
h2 {
  font-size: 2.5rem;
  color: brown;
}
p {
  font-size: 1rem;
  color: blueviolet;
}
button {
  padding: 5px;
  color: green;
  margin-bottom: 1rem;
}

img {
  display: block;
  width: 200px;
  height: 200px;
}
