* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 1rem;
  text-align: center;
}

.navBar {
  padding: 1rem 2rem;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  align-items: center;
}

a {
  text-decoration: none;
  display: block;
  color: brown;
}

section {
  border: 1px solid black;
  padding: 1rem;
  width: 95%;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  color: brown;
}

p {
  font-size: 1.3rem;
  color: blueviolet;
}

button {
  padding: 10px;
  color: green;
  margin: 1rem;
}

img {
  display: block;
  width: 80%;
  margin: auto;
  object-fit: cover;
  height: 50vh;
}
